.lede__title {
  &::after {
    content:'';
    display: block;
    position: relative;
    background-color: currentColor;
    height: 4px;
    margin-top: 0.5em;
    width: 100px;
  }
}
.lede__columns.grid-2 {
  .lede__column {
    width: 100%;

    @media (--m){
      width: 50%;
    }
  }
}
.lede__columns.grid-3 {
  .lede__column {
    width: 100%;

    @media (--l){
      width: 33.333333%;
    }
  }
}
.lede__columns.grid-4 {
  .lede__column {
    width: 100%;

    @media (--m){
      width: 50%;
    }
    @media (--xl){
      width: 25%;
    }
  }
}
