.fourOhFour {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 600px;
	height: 100vh;
	text-align: center;

	&::after {
		@include inlineRel;

		content: '';
		height: 100%;
		vertical-align: middle;
	}
}
.fourOhFour-img {
	@include blockAb;

	bottom: 0; left: 0; right: 0; top: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.fourOhFour-inner {
	@include inlineRel;

	color: #FFFFFF;
	text-align: left;
	vertical-align: middle;

	.button {
		margin-top: 1rem;
	}
}