.header {
	@include blockFix;

	left: 0;
	padding: 2rem 2rem;
	right: 0;
	top: 0;
	transition: padding .2s ease-out, background .2s ease-out;
	width: 100%;
	z-index: 50;

	@media screen and (min-width: $med) {
		padding: 5rem calc(2.5% + 1.5rem);
	}

	&.has-scrolled {
		@media screen and (min-width: $med) {
			background-color: #FFFFFF;
			padding: 1rem 1.5rem;
			transition: padding .2s ease-out, background .2s ease-out;	
		}
	}
}

.header-desktop-inner {
	@include blockRel;

	text-align: right;

	/*
	 * Menu Items within .header-desktop-inner
	 */
	& > li {
		@include inlineRel;
		@include h5;

		display: none; // hide on mobile
		font-weight: 500;
		height: 40px;
		margin-right: 2rem;
		transition: .1s color;
		vertical-align: middle;

		@media screen and (min-width: $med) {
			display: inline-block;
			margin-right: 2rem;
		}

		&.has-sub-menu {
			border-radius: 3px 3px 0 0;
			transition: background .1s;
			&:hover {
				background-color: $c2;
				color: #FFFFFF !important;

				.sub-menu {
					background-color: $c2;
					max-height: 200px;
					opacity: 1;
					overflow: visible;
				}
			}
		}

		&.current-menu-item {
			color: $c1;
		}

		/*
		 * Sub Nav
		 */
		.sub-menu {
			@include blockAb;

			border-radius: 3px 0 3px 3px;
			max-height: 0;
			margin: 0;
			overflow: hidden;
			opacity: 0;
			padding: 0;
			right: 0; top: 100%;
			transition: opacity .1s, max-height .1s;
			width: 240px;

			& > li {
				@include blockRel;

				color: #FFFFFF;
				width: 100%;
				transition: background .1s;

				&:hover {
					color: #FFFFFF;
					background: rgba(#FFFFFF, .1);

					.sub-menu {
						max-width: 200px;
						opacity: 1 !important;
						overflow: visible;
					}
				}
			}

			// Sub-sub menu
			.sub-menu {
				background-color: $c2l !important;
				max-width: 0;
				opacity: 0 !important;
				right: 100%; top: 0;
				transition: opacity .1s, max-width .1s;

				& > li {
					transition: background .1s;

					&:hover {
						background: rgba(#FFFFFF, .1)
					}
				}
			}
		}

		/*
		 * Links within li elements of the navs
		 */
		a {
			@include blockRel;

			height: 100%;
			line-height: 40px;
			padding: 0 2rem;
			width: 100%;
		}

		/*
		 * Hamburger Icon
		 */
		&.menuToggle {
			display: inline-block;
			cursor: pointer;
			margin-left: 3rem;
			top: 5px;
			.icon-menu {
				font-size: 4rem;
				line-height: 60px;
			}

			@media screen and (min-width: $med){
				top: 3px;

				.icon-menu {
					font-size: 2rem;
					line-height: 35px;
				}
			}

			@media screen and (min-width: $xl) {
				margin-left: 4rem;
			}
		}

		.has-scrolled & {
			color: $c2 !important;

			&:hover {
				color: $c2l !important;
			}

			&.current-menu-item {
				color: $c1 !important;
			}

			&.has-sub-menu {
				&:hover {
					color: #FFFFFF !important;
				}
			}
		}
	}

	/*
	 * Color classes added by user
	 */
	&.menu-items--dark li {
		color: $c2;

		&:hover {
			color: $c2l;
		}

		&.current-menu-item {
			color: $c1;
		}
	}
	&.menu-items--white li {
		color: #FFFFFF;

		&:hover {
			color: rgba(#FFFFFF, .6);
		}

		&.current-menu-item {
			color: $c2;
		}
	}
	&.menu-items--orange li {
		color: $c1;

		&:hover {
			color: $c2d;
		}

		&.current-menu-item {
			color: $c2;
		}
	}
}

.mainLogo {
	float: left;
	height: 65px;
	width: 65px;

	h1 {
		font-size: 0;
		line-height: 0;
		margin-bottom: 0;
		height: 43px;

		a {
			max-height: 43px;
		}
	}

	.sculptLogo {
		display: none;
	}
	.sculptLogo-fallback {
		display: none;
	}

	@media screen and (min-width: $med) {
		height: 43px;
		width: 130px;

		.sculptLogo {
			display: block;
			height: 43px;
		}
		.has-scrolled & {
			.sculptLogo {
				display: none;
			}
			.sculptLogo-fallback {
				display: block;
			}
		}
	}
}

.mainLogo-mobile {
	.sculptMark {
		@include blockAb;

		left: 0; top: 0;
		margin: 2.2rem 0 0 1.5rem;
		width: 65px;
		z-index: 100;

		@media screen and (min-width: $med){
			display: none;
		}
	}
}


/*
 * Offcanvas Nav
 */
.navContainer {
	@include blockFix;

	bottom: 0; right: 0; top: 0;
	overflow-y: auto;
	transform: translateX(100%);
	transition: transform .3s; 
	transition-delay: 0s;
	width: 100%;
	z-index: 100;

	@media screen and (min-width: $med) {
		width: 66%;
	}

	@media screen and (min-width: $xl) {
		width: 40%;
	}

	.nav--is-visible & {
		transform: translateX(0);
		// transition-delay: .2s;
	}
	.nav--is-hiding & {
		transform: translateX(100%);
		// transition-delay: 0s;
	}
}
.navContainer-scroll {
	@include blockRel;

	float: right;
	padding: 3rem 2rem;
	width: 100%;

	.menuClose {
		@include blockRel;

		color: #FFFFFF;
		cursor: pointer;
		font-size: 4rem;
		opacity: .3;
		padding-right: 2rem;
		text-align: right;
		transition: opacity .1s;
		width: 100%;
		z-index: 100;

		&:hover {
			opacity: 1;
		}
	}
}
.mainNav {
	@include blockRel;

	margin-top: 2rem;

	li {
		@include blockRel;
		@include h1;

		border-right: 3px solid transparent;
		color: #FFFFFF;
		margin: 1rem 0;
		opacity: .5;
		text-align: right;
		transition: opacity .1s, border .1s;
		width: 100%;

		&:hover {
			opacity: 1;
		}

		ul {
			margin: 0;

			li {
				@include h2;

				margin: 0;

				&.current-menu-item {
					opacity: 1;
				}
			}
		}
	}
	& > li {
		padding-right: 1.5rem;

		&:hover {
			border-right: 3px solid $c1;
			opacity: 1;
		}

		&.current-menu-item {
			border-right: 3px solid $c1;
			opacity: 1;
		}
	}
}