.postGrid-block {
	overflow: hidden;

	@media screen and (min-width: $med){
		padding-top: 30%;
	}
	@media screen and (min-width: $xl){
		padding-top: 25%;
	}
	@media screen and (min-width: $xxl){
		padding-top: 20%;
	}

	&:hover .postGrid-block-caption {
		transform: translateY(0);
	}
}
.postGrid-block-img {
	@include blockRel;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 50%;
	width: 100%;

	@media screen and (min-width: $med){
		bottom: 0; left: 0; right: 0; top: 0;
		position: absolute;
		padding-top: 0;
	}
}
.postGrid-block-caption {
	@include blockRel;

	margin-bottom: 1rem;
	padding: 1.5rem 2rem;

	h3 {
		margin-bottom: 0;
	}

	@media screen and (min-width: $med){
		background-color: rgba(#FFFFFF, .9);
		bottom: 0; left: 0; right: 0;
		margin-bottom: 0;
		padding: 3rem;
		position: absolute;
		transform: translateY(100%);
		transition: transform .2s;
	}

	.divider {
		@include blockRel;

		background-color: $gray10;
		height: 4px;
		margin-top: 1rem;
		width: 100px;

		@media screen and (min-width: $med){
			display: none;
		}
	}
}
.postGrid-block-tags {
	@include h5;
	@include blockRel;

	color: $c1;
	font-weight: 900;
	margin-top: .6rem;
}