a {
    color: inherit;
    text-decoration: none;

    &.link {
        color: $c1;
        &:hover {
            color: $c1d;
        }
    }

    &.link-alt {
        color: $c2;

        &:hover {
            color: $c2d;
        }
    }

    &.link-alt-2 {
        color: $c3;

        &:hover {
            color: $c3d;
        }
    }

    &.hu {
        &:hover {
            text-decoration: underline;
        }
    }

    &.u {
        text-decoration: underline;
    }
}

@mixin container {
    @include blockRel;

    padding: .01rem; // prevents margin-collapse
    margin-top: -0.1rem;
    z-index: 0;
}
.container {
    @include container;
}

.pad--sm {
    padding: 3rem 0;

    @media screen and (min-width: $sm) {
        padding: 4.5rem 0;
    }
}
.pad--med {
    padding: 3rem 0;

    @media screen and (min-width: $sm) {
        padding: 6rem 0;
    }
}
.pad--lg {
    padding: 5rem 0;

    @media screen and (min-width: $sm) {
        padding: 8rem 0;
    }
}
.pad--xl {
    padding: 8rem 0;

    @media screen and (min-width: $sm) {
        padding: 12rem 0;
    }
}

/* Use a row to specify width and .inline or .float options
 * to set up a wrapper for grids.
 */
@mixin row {
    @include blockRel;

    margin: 0 auto;
    padding: .01rem; // must have some padding to prevent margin-collapse
    width: 100%;
    z-index: 1;

    &::before,
    &::after {
      content: " "; /* 1 */
      display: table; /* 2 */
    }

    &::after {
      clear: both;
    }

    &.row--sm {
        max-width: 750px;
        width: 90%;

        @media screen and (min-width: $med) {
            width: 80%;
        }
        @media screen and (min-width: $lg) {
            width: 60%;
        }
    }

    &.row--med {
        width: 90%;

        @media screen and (min-width: $xs) {
            width: 80%;
        }
        @media screen and (min-width: $med) {
            width: 70%;
        }
    }

    &.row--lg {
        width: 90%;

        @media screen and (min-width: $xs) {
            width: 92.5%;
        }
        @media screen and (min-width: $med) {
            width: 95%;
        }
    }

    &.inline {
        text-align: justify;

        &::after {
            @include inlineRel;

            content: '';
            width: 100%;
        }

        &.center {
            text-align: center;
        }

        .block {
            @include inlineRel;

            float: none;
            vertical-align: top;
        }
    }
}
.row {
    @include row;
}

// Grid block identifying class
.block {
    @include blockRel;

    float: left;
    margin: auto;
    text-align: left;
}