@mixin button {
	@include inlineRel;

	cursor: pointer;
	height: 50px;
	text-decoration: none !important; // In case this, .button is applied to an anchor tag.

	.button-left {
		@include blockRel;
		@include h3;

		background-color: $c1l;
		color: #FFFFFF;
		height: 100%;
		font-weight: 900;
		float: left;
		line-height: 4.5rem !important;
		padding: .3rem 1.5rem;
		transition: .2s background, .2s color;
	}
	.button-right {
		@include blockRel;

		background-color: $c1;
		color: #FFFFFF;
		font-size: 2rem;
		float: left;
		height: 100%;
		line-height: 50px;
		text-align: center;
		width: 50px;
		transition: .2s background, .2s color;
	}

	&:hover .button-left {
		background-color: $c1;
	}

	&.button--dark {
		.button-left {
			background-color: $c2l;
			color: #FFFFFF;
		}
		.button-right {
			background-color: $c2;
			color: #FFFFFF;
		}
		&:hover {
			.button-left {
				background-color: $c2;
			}
		}
	}
	&.button--white {
		.button-left {
			background-color: rgba(#FFFFFF, .8);
			color: $c1;
		}
		.button-right {
			background-color: #FFFFFF;
			color: $c1;
		}
		&:hover {
			.button-left {
				background-color: rgba(#FFFFFF, 1);
			}
		}
	}
}

button, .button {
	@include button;
}

.button--alt {
	@include inlineRel;
	@include p;

	background-color: rgba($c2l, .1);
	border-left: 3px solid transparent;
	color: $c2;
	height: 35px;
	line-height: 35px;
	padding: 0 1.2rem;
	transition: background .2s, border .2s;

	.button--alt-icon {
		font-size: 2rem;
		margin-right: .5rem;
		vertical-align: middle;
	}
	.button--alt-text {
		display: inline-block;
		vertical-align: middle;
	}

	&:hover {
		background-color: rgba($c2l, .2);
		border-left: 3px solid $c1;
	}
}

.backArrow.icon-arrow {
	transform: rotate(180deg);
}