/*
 * Alignment classes
 */
.u-align-center {
	text-align: center !important;
}
.u-align-right {
	text-align: right !important;
}
.u-align-left {
	text-align: left !important;
}
.u-align-justify {
	text-align: justify !important;
}


/*
 * Height classes
 */
.u-h_s1 {
	height: 500px; //fallback
	height: 100%;
	height: 100vh;

	@media screen and (min-width: $sm) {
		height: 800px;
		height: 100vh;
	}
}
.u-h_s12 {
	height: 500px; //fallback
	height: 100%;
	height: 100vh;

	@media screen and (min-width: $sm) {
		height: 66%;
		height: 66vh;
	}

	@media screen and (min-width: $med) {
		height: 450px;
		height: 50vh;
	}
}
.u-h_s23 {
	height: 500px; //fallback
	height: 100%;
	height: 100vh;

	@media screen and (min-width: $sm) {
		height: 80%;
		height: 80vh;
	}

	@media screen and (min-width: $med) {
		height: 600px;
		height: 66vh;
	}
}

/*
 * Padding
 */
.pad-sm {
    padding: 1.5rem 0rem;

    @media screen and (min-width: $sm) {
        padding: 3rem 0rem;
    }
}
.pad-med {
    padding: 3.33rem 0rem;

    @media screen and (min-width: $sm) {
        padding: 6.66rem 0rem;
    }
}
.pad-lg {
    padding: 5rem 0rem;

    @media screen and (min-width: $sm) {
        padding: 10rem 0rem;
    }
}


/*
 * Floats
 */
.u-float-r {
	float: right;
}
@media screen and (min-width: $sm) {
	.sm_u-float-r {
		float: right;
	}
}