.comments-container {
	@include blockRel;

	height: 0;
	overflow: hidden;
	transition: height 1s cubic-bezier(.65,.12,.54,.76);

	.row {
		opacity: 0;
		transition: opacity .3s ease-in-out;
	}
}

.comments-button {
	margin: 4rem 0 3rem;
}