.contactForm-container {
	background-color: $gray10;
}
.contactForm {
	@include blockRel;

	width: 100%;

	.contactForm-s1 {
		width: 100%;
	}
	.contactForm-s12 {
		padding: 2rem;
		width: 50%;
	}

	input {
		@include h3;

		background-color: #FFFFFF;
		border: 0;
		border-left: 3px solid transparent;
		color: $c2;
		height: 50px;
		outline: 0;
		padding: 1rem 2rem;
		transition: border .1s, color .1s;
		width: 100%;

		&:focus {
			border-left: 3px solid $c1;
		}
	}
	input[type="submit"]{
		background-color: $c2l;
		border: 0 !important;
		color: #FFFFFF;
		height: 50px;
		line-height: 30px;
		margin: 2rem 0 0 2rem;
		transition: background .1s;
		text-transform: lowercase;
		width: auto;

		&:hover {
			background-color: $c2;
		}
	}
	select {
		@include blockRel;
		@include h3;

		background-color: #FFFFFF;
		border: 0;
		border-left: 3px solid transparent;
		border-radius: 0;
		color: rgba($c2l, .6);
		height: 50px;
		padding: 0 2rem;
		transition: border .1s, color .1s;
		width: 100%;
	 	    -webkit-appearance: none;

	 	&:focus {
	 		border-left: 3px solid $c1;
	 		outline: none;
	 	}
	}
	.contactForm-select {
		&::after {
			@include blockAb;
			@include icon;

			content: '\e600';
			color: rgba($c2l, .6);
			font-size: 1.5rem;
			pointer-events: none;
		 	right: 4rem;
		  	top: 3.8rem;
		  	transform: rotate(90deg);
		}
	}
	textarea {
		@include blockRel;
		@include h3;

		background-color: #FFFFFF;
		border: 0;
		border-left: 3px solid transparent;
		font-weight: 300;
		margin: 2rem;
		max-width: calc(100% - 4rem);
		padding: 2rem;
		transition: border .1s, color .1s;
		width: calc(100% - 4rem);

		&:focus {
			border-left: 3px solid $c1;
			outline: none;
		}
	}
	//form errors, along the top
	.validation_error {
		@include blockRel;
		@include h4;

		background-color: $c1;
		color: #FFFFFF;
		font-weight: 900;
		margin: 0 2rem 2rem;
		padding: 2rem;
	}
	//inline validation
	.validation_message {
		@include blockAb;
		@include h6;

		color: $c1;
		margin: .5rem 0;
	}


	/*
	 * Gravity Forms Reset
	 */

	ul, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.gform_fields {
		text-align: justify;
	}
	.gfield, .ginput_container {
		@include inlineRel;
	}
	.ginput_container {
		width: 100%;
	}
	// Hide shit we don't need
	.gform_heading,
	label, {
		display: none;
	}

	::-webkit-input-placeholder {
		color: rgba($c2l, .6);
	}
	:-moz-placeholder {
	   color: rgba($c2l, .6);  
	}
	::-moz-placeholder {
	   color: rgba($c2l, .6); 
	}
	:-ms-input-placeholder {  
	   color: rgba($c2l, .6); 
	}
}