.hero {
	// above 768px wide, the page has a border
	&.u-h_s1 {
		@media screen and (min-width: $med) {
			height: calc(100vh - 3rem);
		}
	}

	/*
	 * Color Schemes
	 */
	// &.colorScheme--white // Default
	&.colorScheme--light {
		background-color: $gray10;

		.hero-title {
			color: $c1;
		}
	}
	&.colorScheme--orange {
		background-color: $c1;

		.hero-title {
			color: #FFFFFF;
		}
		.hero-body {
			color: $c2;
		}
		.hero-cta {
			&:hover {
				.button-left {
					background-color: rgba(#FFFFFF, 1);
				}
			}

			.button-left {
				background-color: rgba(#FFFFFF, .8);
				color: $c2;
			}
			.button-right {
				background-color: #FFFFFF;
				color: $c1;
			}
		}
	}
	&.colorScheme--dark {
		background-color: $c2;

		.hero-title {
			color: #FFFFFF;
		}
		.hero-body {
			color: #FFFFFF;
		}
	}
}
.hero-title {
	color: $c1;
}
.hero-body {
	margin-top: .8rem;

	@media screen and (min-width: $lg) {
		max-width: 75%;
	}
}
.hero-cta {
	margin-top: 1.5rem;
}
