.hero {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	// above 768px wide, the page has a border
	&.u-h_s1 {
		@media screen and (min-width: $med) {
			height: calc(100vh - 4rem);
		}
	}
}
.hero-content {
	@include blockAb;

	bottom: 0;
	left: 0;
	padding: 2rem;
	width: 100%;

	@media screen and (min-width: $med) {
		padding: 4rem;
		width: 100%;
	}

	@media screen and (min-width: $xl) {
		padding: 4rem;
		width: 75%;
	}

	/*
	 * Color classes added by user
	 */
	&.hero-content--dark {
		color: $c2;
	}
	&.hero-content--white {
		color: #FFFFFF;
	}
	&.hero-content--orange {
		color: $c1;
	}
}
