.photoModule {
	height: 320px;

	&.photoModule--large {
		height: 640px;
	}

	.row {
		height: 100%;
	}
}
.photoModule-photo {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}