.photoModule {
	.row {
		// height: 100%;
	}
}
.photoModule-photo {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 25%;

	.h-photoModule--small & {
		@media screen and (max-width: $med) {
			padding-top: 50%;
		}
	}

	.photoModule--large & {
		padding-top: 50%;
	}

	.photoModule--full & {
		height: 100vh;
		padding-top: 60%
	}
}