.photoModule {
}
.photoModule-photo {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 25%;

	.photoModule--large & {
		padding-top: 50%;

    /**
     * This selects only those .photoModule--large styled
     * grids that contain *exactly* 2 items.
     */
    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ .photoModule-photo {
      @media (max-width: $sm){
        padding-top: 100%;
      }
    }
	}

  .photoModule--small & {
    /**
     * This selects only those .photoModule--large styled
     * grids that contain *exactly* 2 items.
     */
    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ .photoModule-photo {
      @media (max-width: $sm){
        padding-top: 50%;
      }
    }
  }

	.photoModule--full & {
		height: 100vh;
		padding-top: 60%
	}

	&.photoModule-fourUp {
		@media screen and (max-width: $med) {
			padding-top: 50%;
		}
	}
}
