.popularPosts {
	background-color: $gray10;

	@media screen and (min-width: $lg){
		padding: 4rem 0 6rem;
	}

	.block {
		@media screen and (max-width: $lg){
			margin: 1rem 0;
		}
	}

	.popularPosts-title {
		color: rgba($c2, .1);
		margin-bottom: 1rem;

		&::after {
			@include blockRel;

			background-color: rgba($c2, .05);
			content: '';
			height: 4px;
			margin-top: 10px;
			width: 100px;
		}
	}

	.post-title {
		@include inlineRel;

		transition: color .1s;
		width: auto;

		&:hover {
			color: $c2l;
		}
	}
	.post-desc {
		margin-bottom: 1rem;
	}
	.post-byline {
		color: rgba($c2, .6);
	}
}