.signUp {

	&.signUp--small {
		text-align: left;
	}
	&.signUp--large {
		text-align: center;

		.signUp-title {
			margin-bottom: 2rem;
		}

		.signUp-form {
			@media screen and (min-width: $sm){
				width: auto;
			}
		}
		.signUp-input {
			text-align: center;
			width: 100%;

			@media screen and (min-width: $sm){
				text-align: left;
				width: auto;
			}
		}
		.signUp-submit {
			width: 100%;

			@media screen and (min-width: $sm){
				width: auto;
			}
		}
	}

	/*
	 * Color Schemes
	 */
	// &.colorScheme--white // Default
	&.colorScheme--light {
		background-color: $gray10;

		.signUp-input {
			background-color: #FFFFFF;
		}
	}
	&.colorScheme--orange {
		background-color: $c1;

		.signUp-input {
			background-color: #FFFFFF;
		}
		.signUp-submit {
			background-color: $c2;

			&:hover {
				background-color: $c2l;
			}
		}
		.signUp-title, .signUp-body {
			color: #FFFFFF;
		}
	}
	&.colorScheme--dark {
		background-color: $c2;

		.signUp-input {
			background-color: #FFFFFF;
		}
		.signUp-title, .signUp-body {
			color: #FFFFFF;
		}
	}
}
.signUp-title {
	@include inlineRel;

	margin-bottom: 1.5rem;
	vertical-align: middle;
	width: 100%;

	@media screen and (min-width: $lg){
		margin-bottom: 0;
		width: auto;
	}
}
.signUp-body {
	margin: 0 auto 2rem;
	max-width: 750px;
}
.signUp-form {
	@include inlineRel;	

	width: 100%;
	vertical-align: middle;

	@media screen and (min-width: $lg){
		margin-left: 2rem;
		width: auto;
	}

	&.error-response--is-visible, &.success-response--is-visible {
		.inputGroup {
			opacity: 0;
		}
	}

	label {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}
.signUp-input {
	@include blockRel;
	@include p;

	background-color: $gray10;
	border: 0;
	border-left: 3px solid transparent;
	float: left;
	height: 60px;
	line-height: 60px;
	padding: 0 1.5rem;
	width: calc(100% - 60px);
	transition: border .2s;

	&:focus {
		border-left: 3px solid $c1;
		outline: 0;
	}

	@media screen and (min-width: $sm){
		width: auto;
	}
	@media screen and (min-width: $med){
		height: 50px;
		line-height: 50px;
	}
}
.signUp-submit {
	@include blockRel;

	background-color: $c1;
	color: #FFFFFF;
	font-weight: 900;
	font-size: 1.3rem;
	float: left;
	height: 60px;
	line-height: 40px;
	padding: 0 1.5rem;
	text-align: center;
	width: 60px;
	transition: .1s background;

	&:hover {
		background-color: $c1l;
	}

	@media screen and (min-width: $sm){
		width: auto;
	}
	@media screen and (min-width: $med){
		height: 50px;
	}

	.signUp--large & {
		@include h3;

		min-width: 60px;
		width: auto;
	}
}

/*
 * Validation Responses
 */
.signUp-responses {
	@include blockAb;

	bottom: 0; left: 0; right: 0; top: 0; 
	z-index: -1;

	.error-response--is-visible &, .success-response--is-visible &   {
		z-index: 0;
	}

	&::after {
		@include inlineRel;

		content: '';
		height: 100%;
		vertical-align: middle;
	}
}
.signUp-response {
	@include inlineRel;
	@include h3;

	color: $c1;
	opacity: 0;
	text-align: center;
	vertical-align: middle;
}
#mce-error-response {
	@include p;

	.error-response--is-visible & {
		opacity: 1;
	}
}

#mce-success-response {
	.success-response--is-visible & {
		opacity: 1;
	}
}

// MailChimp Validation error
// div selects only the error, not the input.mce_inline_error
div.mce_inline_error {
	@include blockAb;
	@include h6;

	bottom: -20px; left: 0;
	color: $c1;
}