.textModule {
	background-color: #FFFFFF;

	/*
	 * Color Schemes
	 */
	// .textModule--white // Default
	&.colorScheme--light {
		background-color: $gray10;
	}

	&.colorScheme--orange {
		background-color: $c1;

		.textModule-title {
			color: rgba(#FFFFFF, .8);
		}

		.textModule-block-link {
			&:hover::after {
				background-color: rgba(#FFFFFF, 1);
			}
			&::after {
				background-color: rgba(#FFFFFF, .8); //same as textModule-title
				color: $c1;
			}
		}

		a {
			color: #FFFFFF;
      font-family: museo-sans;
			font-weight: 900;
			transition: color .1s;

			&:hover {
				color: rgba(#FFFFFF, .8);
			}
		}
	}
	&.colorScheme--dark {
		background-color: $c2;

		.textModule-title {
			color: rgba(#FFFFFF, .8);
		}

		.textModule-block-link {
			&:hover::after {
				background-color: rgba(#FFFFFF, 1);
			}
			&::after {
				background-color: rgba(#FFFFFF, .8); //same as textModule-title
			}
		}

		p {
			color: white;
		}

		a {
			color: #FFFFFF;
      font-family: museo-sans;
			font-weight: 900;
			transition: color .1s;

			&:hover {
				color: rgba(#FFFFFF, .8);
			}
		}
	}
}
.textModule-block {
	margin: 10px 0;

	@media screen and (min-width: $med) {
		margin: 20px 0;
	}

	.has-image & {
		vertical-align: middle !important;
	}

	.textModule-img {
		@include blockRel;

		max-width: 80%;
		margin: 0 auto;
	}

	.textModule-title {
		margin-bottom: 1rem;
		opacity: .9;
	}

	.textModule-block-link {
		@include inlineRel;

		width: 100%;

		// @media screen and (min-width: $sm){
		// 	max-width: 100%;
		// 	width: auto;
		// }

		// &:hover .textModule-title::after {
		// 	background-color: rgba($c2, 1);
		// }

		.textModule-title {
			width: 100%;

			// &::after {
			// 	@include blockAb;
			// 	@include icon;

			// 	background-color: rgba($c2, .8); //same as textModule-title
			// 	content: '\e600';
			// 	color: #FFFFFF;
			// 	font-size: 1.3rem;
			// 	float: left;
			// 	height: 32px;
			// 	line-height: 32px;
			// 	right: -48px;
			// 	top: 0;
			// 	text-align: center;
			// 	width: 32px;
			// 	transition: .1s background;
			// }
		}
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}
