.textModule {
	background-color: #FFFFFF;
	padding: 6rem 0;

	.textModule-block {
		vertical-align: middle !important;

		.textModule-img {
			@include blockRel;

			max-width: 80%;
			margin: 0 auto;
		}

		// textModule-title
		h3 {
			opacity: .8;
		}

		.textModule-block-link {
			@include inlineRel;

			&:hover::after {
				background-color: rgba($c2, 1);
			}

			&::after {
				@include blockAb;
				@include icon;

				background-color: rgba($c2, .8); //same as textModule-title
				content: '\e600';
				color: #FFFFFF;
				font-size: 1.3rem;
				float: left;
				height: 32px;
				line-height: 32px;
				right: -50px;
				top: 0;
				text-align: center;
				width: 32px;
				transition: .3s background;
			}
		}
	}
}