.videoEmbed {
	background-color: $black; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&.s1 {
		padding-top: 56%;
	}
	&.med_s12 {
		@media (min-width: $med){
			padding-top: 28.2%;
		}
	}
	&.lg_s13 {
		@media (min-width: $lg){
			padding-top: 18.7%;
		}
	}
	&.xl_s14 {
		@media (min-width: $xl){
			padding-top: 14.1%;
		}
	}
}
.videoEmbed-inner {
	@include blockAb;

	bottom: 100%; left: 0; right: 0; top: 0;
	opacity: 0;
	text-align: center;
	transition: opacity .3s;

	&::after {
		@include inlineRel;

		content:'';
		height: 100%;
		vertical-align: middle;
	}
}
.video-player {
	@include inlineRel;

	max-height: 90%;
	width: 90% !important;
	vertical-align: middle;
}
.video-play {
	@include blockAb;

	background-color: rgba($c1, .9);
	border-radius: 3px;
	height: 60px;
	line-height: 60px;
	left: calc(50% - 50px);
	top: calc(50% - 30px);
	text-align: center;
	width: 100px;

	&::after {
		@include inlineRel;

		border-left: 30px solid #FFFFFF;
		// border-right: 30px solid transparent;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		content: '';
		margin-top: 1.4rem;
	}
}